<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CG.Properties.Settings.db_cgConnectionString" connectionString="server=srv-bkp;user id=glpi;password=GESTservi3627;persistsecurityinfo=True;database=db_cg"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webservice.correios.com.br:80/service/rastro"
        binding="basicHttpBinding" bindingConfiguration="ServicePortBinding"
        contract="wsRastreio.Service" name="ServicePort" />
    </client>
  </system.serviceModel>
</configuration>