<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.C1Excel" version="4.5.20202.438" targetFramework="net461" />
  <package id="C1.C1Pdf" version="4.5.20202.438" targetFramework="net461" />
  <package id="C1.C1Word" version="4.5.20202.438" targetFramework="net461" />
  <package id="C1.C1Zip" version="4.5.20202.438" targetFramework="net461" />
  <package id="C1.Win" version="4.5.20202.438" targetFramework="net461" />
  <package id="C1.Win.BarCode" version="4.5.20202.438" targetFramework="net461" />
  <package id="C1.Win.Bitmap" version="4.5.20202.438" targetFramework="net461" />
  <package id="C1.Win.C1Document" version="4.5.20202.438" targetFramework="net461" />
  <package id="C1.Win.C1DX" version="4.5.20202.438" targetFramework="net461" />
  <package id="C1.Win.C1SplitContainer" version="4.5.20202.438" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1404.0" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
</packages>